@{
    ViewData["Title"] = "Home Page";
    var content = ViewBag.Content;
    var Register = ViewBag.RegisterResult;
}
<h1>@content</h1>
<h1>@Register</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
